<div class="container justify-content-center">
  <form class="form-auth" [formGroup]="changePasswordForm">
    <h1 class="h3 mb-3 font-weight-normal">Changing password</h1>
    <div class="form-floating rg-input">
      <input type="password" id="inputNewUserPassword" [formControlName]="'newUserPassword'" class="form-control"
             placeholder="Password" (ngModelChange)="onInputChange()">
      <label for="inputNewUserPassword" class="sr-only">New password</label>
      <span
        *ngIf="!changePasswordForm.get('newUserPassword').valid && changePasswordForm.get('newUserPassword').touched" class="input-error">New password is required</span>
    </div>
    <div class="form-floating rg-input">
      <input type="password" id="inputUserConfirmPassword" [formControlName]="'userConfirmPassword'"
             class="form-control" placeholder="Confirm password">
      <label for="inputUserConfirmPassword" class="sr-only">Confirm password</label>
      <span
        *ngIf="!changePasswordForm.get('userConfirmPassword').valid && changePasswordForm.get('userConfirmPassword').touched"
        class="input-error">Confirm password is required and must be equal password</span>
    </div>
    <button class="btn btn-lg btn-success btn-block save-bth" type="submit" (click)="onSubmit('SAVE')"
            [disabled]="!changePasswordForm.valid">SAVE
    </button>
    <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="onSubmit('CANCEL')">CANCEL</button>
  </form>
  <br/>
</div>
