<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="" class="title">Eco platform</a></h1>
      </div>
      <div class="col-md-6" *ngIf="isVisible()">
        <button class="logout btn btn-default" (click)="logout()">Logout</button>
        <a href="/organisation-join-requests" class="login btn btn-default" *ngIf="visibleForManagers()">Join requests</a>
        <a href="/eco-project" class="login btn btn-default">Create project</a>
      </div>
      <div class="col-md-6" *ngIf="!isVisible()">
        <a href="/login" class="login btn btn-default">Login</a>
        <a href="/register-user" class="register btn btn-default">Create account</a>
        <a href="/register-organisation" class="register btn btn-default">Register organisation</a>
      </div>
    </div>
  </div>
</div>
